/**
 * @file ara页面项目配置项
 * @author cuihonglei
 */

module.exports = {

    /**
     * 启动ara server调试的端口号
     *
     * @type {number}
     */
    port: 8000,

    /**
     * 本地ara网页后缀名，进行本地组件调试时会向页面注入本地组件
     *
     * @type {RegExp}
     */
    araPageExt: /\.(?:html|htm|ara)$/i,

    /**
     * 启用调试页面自动刷新
     *
     * @type {boolean}
     */
    livereload: true
};
